$bg-color: hsl(220,10%,5%);

@mixin extend($size: 0){
	top: $size;
	right: $size;
	bottom: $size;
	left: $size;
}

*,
*::before,
*::after{
	font-family: 'Bai Jamjuree',sans-serif;
	box-sizing: border-box;
	flex-shrink: 0;
}
html,body{ overflow: hidden; }
body{
	@include extend;
	position: fixed;
	margin: 0;
	background-color: $bg-color;
	color: white;
	font-size: 12px;
	user-select: none;
}
#content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: $bg-color url(../imgs/bg1.png) center bottom no-repeat;
	background-size: contain;
}
#title{
	$font-size: 32px;
	$width: 325px;
	$height: $font-size*1.25;
	$shrink: .5;
	z-index: 1;
	transform-origin: $height*$shrink $height*$shrink;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 32px;
	color: hsla(220,10%,87.5%,.75);
	transition: transform 2s;
	// +#renderer{ filter: blur(25px) }
	&.side{
		transform: rotate(90deg) scale($shrink) translate(calc(-50% + #{$width*$shrink}),calc(-50% + #{$height*$shrink}));
		// +#renderer{ filter: initial }
	}
}
#renderer{
	@include extend;
	position: absolute;
	/* width: 100% !important; */
	/* height: 100% !important; */
	margin: auto;
	transition: filter 1s;
	will-change: filter;
}
#guide{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	>img{
		margin-top: -10px;
		width: auto;
		height: 35px;
	}
	div{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 0px;
		height: 15px;
		margin-left: 5px;
	}
	span{
		position: absolute;
		color: rgba(white,.75);
		mix-blend-mode: overlay;
		white-space: nowrap;
	}
}
#frame{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	@media (orientation: portrait){ height: 100vw; }
	@media (orientation: landscape){ width: 100vh; }
}
// body{
// 	width: 800px;
// 	height: 600px;
// 	margin-top: auto;
// 	background-color: white;
// }
